/* eslint-disable no-var */
/* eslint-disable object-shorthand */
module.exports = {
  fixedZero: function (val) {
    return val * 1 < 10 ? '0' + val : val;
  },
  numberToFixed: function (number, pos) {
    if (number === null || number === '' || number < 0) return ''
    return parseFloat(number).toFixed(pos)
  }
}
